body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #ffcc00; 
}

ul {
    list-style-type: none;
    padding: 0;
    
}

li {
    margin-bottom: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

a {
    color: #66b3ff; 
    transition: color 0.3s ease-in-out;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
}

a:hover {
    color: #ffcc00; 
    background-color: #5c0569; 
    
}
#bg-wrap{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1; 
}

.nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 1%;
    z-index: 2;
}
