body {
    background: linear-gradient(45deg, #3498db, #2c3e50);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #2c3e50;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #34495e;
}

tbody tr:hover {
    background-color: #2c3e50;
}

@media (prefers-color-scheme: dark) {
    body {
        background: linear-gradient(45deg, #2c3e50, #1f2c38);
    }

    tbody tr:nth-child(even) {
        background-color: #2c3e50;
    }

    tbody tr:hover {
        background-color: #1f2c38;
    }
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #00ccff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 20px;
    animation: transform 0.5s;
    transition: background-color 0.5s,transform 0.3s;
}



.button:hover {
    background-color: #2980b9;
    transform: scale(1.1);
}