<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>getEmployee</servlet-name>
    <servlet-class>com.db.actions.getEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEmployee</servlet-name>
    <url-pattern>/getEmployee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteEmployee</servlet-name>
    <servlet-class>com.db.actions.deleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployee</servlet-name>
    <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>createEmployee</servlet-name>
    <servlet-class>com.db.actions.createEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createEmployee</servlet-name>
    <url-pattern>/createEmployee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>updateEmployee</servlet-name>
    <servlet-class>com.db.actions.updateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmployee</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>displayEmployee</servlet-name>
    <servlet-class>com.db.actions.displayEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayEmployee</servlet-name>
    <url-pattern>/displayEmployee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>displayAll</servlet-name>
    <servlet-class>com.db.actions.displayAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayAll</servlet-name>
    <url-pattern>/displayAll</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>raiseSal</servlet-name>
    <servlet-class>com.db.actions.raiseSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>raiseSal</servlet-name>
    <url-pattern>/raiseEmployee</url-pattern>
  </servlet-mapping>

</web-app>
